@{
    ViewBag.Title = "Blow Out!";
}

<section class="container-fluid home-header">
    <div class="header-content text-center">
        <h1>BlowOut Instrument Rentals</h1>
    </div>
</section>

<section class="container text-center">
    <p class="lead bach-quote">
        It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself.
    </p>
    <p>
        - Johann Sebastian Bach
    </p>
</section>