
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Email</title>
</head>
<body>
    <div> 
        <p>Thank you @ViewData["name"]. We will send an email to @ViewData["email"]</p>
    </div>
</body>
</html>
