
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>Please call Support at <u><strong>801-555-1212</strong></u>. Thank you!</p>
    </div>
</body>
</html>
